<div class="howto-menu">
   <p class="howto-subtitle2">User Stories</p>
   <nav class="howto-section">
        <a href="/story1">User Story 1: Create Profile</a></br>
        <a href="/story2">User Story 2: Search for Match</a></br>
        <a href="/story3">User Story 3: Search and Send</a></br>
   </nav>
   <p></p>
   <p class="howto-subtitle2">Unit Tests</p>
   <nav class="howto-section">
        <a href="/unit1">Unit Test 1: Create Profile</a></br>
        <a href="/unit2">Unit Test 2: Search for Match</a></br>
   </nav>
   <p></p>
   <p class="howto-subtitle2">Spikes</p>
   <nav class="howto-section">
        <a href="/spike1">Spike 1: Calculate Distance</a></br>
        <a href="/spike2">Spike 2: Subscribe to Topic</a></br>
        <a href="/spike3">Spike 3: Send Message</a></br>
   </nav>
</div>
