<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Project B</title>
    <link rel="stylesheet" href="/css/geocode.css" />
    <link rel="stylesheet" href="/css/projectb.css" />
</head>
<body> 
  {{{body}}}
  <script src="js/story1.js"></script>
  <script src="js/story2.js"></script>
  <script src="js/story3.js"></script>
  <script src="js/unit1.js"></script>
  <script src="js/unit2.js"></script>
  <script src="js/spike1.js"></script>
  <script src="js/spike2.js"></script>
  <script src="js/spike3.js"></script>
  <script src="js/projectb.js"></script>
</body>
</html>

