<div class="howto-topwrapper">
   <div class="howto-static">
      {{> header}}
      <div class="howto-title">
         <p>{{header}}</p>
      </div>
      {{> menu}}
   </div>
   <div class="howto-content">
      <p class="howto-subtitle1">{{topic}}</p>
      {{{blog}}}
   </div>
</div>
